/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap');

.font1 {
    font-family: 'Oswald', sans-serif;
}

.font2a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.font2b {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

html {
    font-size: 100%;
}

/*Conteiner*/

body {
    background-color: #f2b3b3;
    margin: 0px;
}

.conteiner {
    background-color: white;
}

/* Encabezado */

header {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.logo {
    width: 150px;
}

button.iconos {
    padding: 10px;
    border-radius: 50%;
    background: #f2b3b3;
}

button.iconos img {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 767px) {
    header {
        background-color: black;
        padding: 20px;
        display: flex;
        align-content: center;
    }

    .logo {
        display: flex;
        width: 50%;
        align-items: center;
    }
}

/* Portada */

.portada {
    margin-top: 3px;
    padding: 20px;
    background-color: black;
    color: white;
}

h1 {
    margin: 0 10%;
    text-align: center;
    font-size: 3.75rem;
}

.portada2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.columna1 {
    width: 50%;
}

.img1 {
    width: 100%;
}

.columna2 {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 50%;
}

.portada p {
    text-align: left;
    font-size: 2rem;
}

.columna2 button {
    margin-top: 10%;
}

.cta {
    border-color: #f2b3b3;
    border-width: 3px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0);
    color: #f2b3b3;
    padding: 10px;
    width: 50%;
    box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 767px) {

    .portada2 {
        display: flex;
        flex-flow: column wrap;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .columna1 {
        width: 100%;
    }

    .img1 {
        display: flex;
        width: 100%;
        align-content: center;
    }

    .columna2 {
        width: 100%;
        text-align: center;
    }

    .portada p {
        text-align: center;
        font-size: 1.0rem;
    }

    .cta {
        margin: 0 auto;
        width: 70%;
        box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.2);
    }
}

/*Cuerpo*/

#descripcion1 {
    padding: 10% 0 10% 5%;
    width: 50%;
    margin-right: auto;
}

#descripcion2 {
    padding: 0 5% 10% 0;
    width: 50%;
    margin-left: auto;
}

.p1 {
    font-size: 2rem;
    color: black;
}

.p2 {
    font-size: 2rem;
    color: #013158;
}

h3 {
    background-color: #013158;
    font-size: 2.5rem;
    padding: 10px;
    text-align: center;
    color: white;
}

#recuadros {
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
}

#recuadros p {
    width: 30%;
    padding: 100px 10px;
    background-color: #fcf0f0;
    text-align: center;
    border-radius: 10%;
}

@media screen and (max-width: 767px) {
    .p2 .p1 {
        font-size: 1rem;
    }

    #descripcion1 #descripcion2 {
        width: 80%;
    }

    #descripcion2 {
        width: 80%;
    }

    #recuadros {
        flex-direction: column;
        align-items: center;
    }

    #recuadros p {
        width: 80%;
        border-radius: 25%;
    }
}