/* Tipografia y colores */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap');

body {
    font-size: 10px;
    --color-acento: #f2b3b3;
    --color-secundario: #013158;
    --color-recuadros: #fcf0f0;
    --fuente-titulos: 'Oswald', sans-serif;
    --fuente-textos: 'Roboto', sans-serif;
}

h1 {
    font-family: var(--fuente-titulos);
    font-size: 3.4rem;
    text-align: center;
    color: white;
}

h2 {
    font-family: var(--fuente-titulos);
    font-size: 2.4rem;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: var(--color-secundario);
}

p {
    font-family: var(--fuente-textos);
    font-weight: 400;
    font-size: 1.8rem;
    color: black;
}

.p-azul {
    font-weight: 700;
    color: var(--color-secundario)
}

/* Conteiner */

body {
    background-color: var(--color-acento);
    margin: 0px;
}

main {
    background-color: white;
}

/* Encabezado */

header {
    background-color: black;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 10rem;
}

/* Redes sociales */

.iconos {
    padding: 10px;
    border-radius: 50%;
    background: var(--color-acento);
}

.iconos img {
    width: 2rem;
}

/* Portada */

#portada {
    margin-top: 0.3rem;
    padding: 2rem;
    background: linear-gradient(black, 95%, transparent);
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "h1 h1"
        "p img"
        "cta img";
}

.titulo-portada {
    grid-area: h1;
}

.img-portada {
    grid-area: img;
}

.img-portada img {
    width: 100%;
}

.p-portada {
    grid-area: p;
    text-align: left;
    display: flex;
    align-items: center;
}

.p-portada p {
    color: white;
}

.cta-portada {
    grid-area: cta;
}

.cta {
    font-family: var(--fuente-titulos);
    font-size: 1.6rem;
    border-color: var(--color-acento);
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    color: var(--color-acento);
    padding: 1rem;
    height: 3rem;
    box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sección 1 */

#section-1 {
    background-image: url("../img/frame1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 2rem 10rem 2rem;
    margin: 2rem 0rem 0rem 0rem;
}

.descripcion-1,
.descripcion-2 {
    width: 50%;
}

.descripcion-2 {
    padding-top: 6rem;
    text-align: right;
    margin-left: auto;
}

/* Sección 2 */

#section-2 {
    padding: 2rem;
}

.recuadros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "r1 r2 r3";
    column-gap: 2rem;
    margin: 4rem 0rem;
}

.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recuadro-1 {
    grid-area: r1;
}

.recuadro-2 {
    grid-area: r2;
}

.recuadro-3 {
    grid-area: r3;
}

.recuadros p {
    aspect-ratio: 1/1;
    padding: 1rem;
    background: linear-gradient(135deg, var(--color-recuadros) 60%, var(--color-acento) 100%);
    box-shadow: 0rem 0.5rem 0.5rem 0rem rgb(0 0 0 / 20%);
    text-align: center;
    border-radius: 10%;
}

/*Sección 3 - Desplegable*/

.oculto {
    display: none;
}

#section-3 {
    background-color: var(--color-secundario);
    margin: 2rem;
    padding-top: 0.1rem;
}

#section-3 h2 {
    background-color: white;
    color: var(--color-secundario);
    margin: 0.5rem;
}

#section-3 p {
    color: white;
    padding: 0rem 4rem;
}

#docente-visible,
.docente-desplegado {
    display: flex;
    align-items: center;
}

#docente-visible {
    padding: 4rem 4rem 4rem 0rem;
}

.docente-desplegado {
    padding: 0rem 0rem 4rem 0rem;
}

.docente-2 img {
    border-radius: 10%;
}

.linea {
    padding: 0% 15%;
    width: 70%;
}

.docente-3 .linea {
    padding-top: 18%;
}

/* Botones ver más y ver menos */

#section-3 a {
    color: white;
    text-decoration: none;
}

#section-3 a:hover {
    color: var(--color-acento);
}

.icono-flecha {
    width: 1rem;
    background-color: var(--color-acento);
    border-radius: 50%;
}

/* Sección 4 */
#section-4 {
    margin: 6rem 2rem;
}

.cursada {
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "c1 img-c"
        "c2 img-c";
    column-gap: 2rem;
}

.cursada-texto-1 {
    padding-top: 4rem;
    grid-area: c1;
}

.cursada-texto-2 {
    grid-area: c2;
    padding-top: 4rem;
}

.cursada-img {
    padding: 25% 0%;
    grid-area: img-c;
}

.cursada-img img {
    width: 100%;
}

/* Sección 5*/
#section-5 {
    padding: 6rem 2rem;
    margin: 2rem;
    background-image: url(../img/fondo-circulos.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#section-5 h2 {
    background-color: transparent;
}

#section-5 p {
    color: white;
}

.globos-1,
.globos-2 {
    width: 50%;
    aspect-ratio: 1/1;
    background: var(--color-secundario);
    box-shadow: 0rem 0.5rem 0.5rem 0rem rgb(0 0 0 / 20%);
    text-align: center;
    border-radius: 50%;
}

.globos-2 {
    margin-left: auto;
}

.globo-texto-1,
.globo-texto-2 {
    padding-top: 25%;
}

/*Formulario*/
#formulario {
    background-color: black;
    margin: 2rem;
    border: var(--color-acento);
    padding: 2rem;
}

/* Pie de página */
footer {
    padding: 4rem;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#redes-pie,
#logos-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#logos-pie img {
    width: 10rem;
    margin: 0rem 1rem;
}

#redes-pie .iconos {
    margin: 0rem 1rem;
}

#direccion-pie p {
    text-align: left;
    color: white;
}