/* Tipografia y colores */

@font-face {
    font-family: 'Oswald';
    /*Titulos*/
    src: url('../fonts/oswald-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    /*Texto normal*/
    src: url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    /*Texto bold*/
    src: url('../fonts/roboto-bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-size: 10px;
}

body {
    --color-acento: #f2b3b3;
    --color-secundario: #013158;
    --color-recuadros: #fcf0f0;
    --fuente-titulos: 'Oswald';
    --fuente-textos: 'Roboto';
}

h1 {
    font-family: var(--fuente-titulos);
    font-size: 4.8rem;
    text-align: left;
    color: white;
}

h2 {
    font-family: var(--fuente-titulos);
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: var(--color-secundario);
}

p {
    font-family: var(--fuente-textos);
    font-weight: 400;
    font-size: 3rem;
    color: black;
}

.p-azul {
    font-weight: 700;
    color: var(--color-secundario)
}

.form,
input,
#section-3 a,
#direccion-pie p {
    color: white;
    font-size: 2.8rem;
    font-family: var(--fuente-textos);
}

/* Conteiner */

body {
    margin: 0px;
}

/* Encabezado */

header {
    background-color: black;
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5rem solid var(--color-acento);
    /*Borde rosa debajo del encabezado*/
}

.logo {
    width: 14rem;
}

/* Redes sociales */

.iconos {
    padding: 1.2rem;
    margin: 0.2rem;
    border-radius: 50%;
    background-color: var(--color-acento);
}

.iconos:hover {
    background: white;
}

.iconos img {
    width: 2.5rem;
}

a {
    text-decoration: none;
}

/* Portada */

#portada {
    padding: 4rem 6rem;
    background: linear-gradient(black, 95%, transparent);
    display: grid;
    /*Distribución portada*/
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "h1 img"
        "p img"
        "cta img";
}

.titulo-portada {
    grid-area: h1;
}

.img-portada {
    grid-area: img;
    display: flex;
    align-content: center;
    align-items: center;
}

.img-portada img {
    width: 100%;
}

.p-portada {
    grid-area: p;
    text-align: left;
    margin-right: 10rem;
}

.p-portada p {
    color: white;
}

.cta-portada {
    grid-area: cta;
}

/* Call to action */

.cta {
    font-family: var(--fuente-titulos);
    font-size: 2.6rem;
    border-color: var(--color-acento);
    border-width: 3px;
    border-style: solid;
    background-color: transparent;
    color: var(--color-acento);
    padding: 0rem 3rem;
    height: 5rem;
    box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta:hover {
    background-color: var(--color-acento);
    border-color: white;
    color: white;
}

/* Secciones */

.section {
    margin: 12rem 6rem;
}

/* Sección 1 */
#section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img-d descr-1"
        "img-d descr-2";
}

.descr-1 {
    grid-area: descr-1;
}

.img-descripcion {
    grid-area: img-d;
    width: 100%;
}

.descr-2 {
    grid-area: descr-2;
}


/* Sección 2 */

.recuadros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "r1 r2 r3";
    column-gap: 4rem;
    margin: 6rem;
}

.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recuadro-1 {
    grid-area: r1;
}

.recuadro-2 {
    grid-area: r2;
}

.recuadro-3 {
    grid-area: r3;
}

.recuadros p {
    aspect-ratio: 1/1;
    padding: 2rem;
    background: var(--color-recuadros);
    text-align: center;
}

.recuadros img {
    display: none;
}

.recuadros p:hover {
    background: linear-gradient(180deg, rgba(252, 240, 240, 1) 70%, rgba(242, 179, 179, 1) 100%);
}

/*Sección 3 - Desplegable*/

.oculto {
    display: none;
}

.visible {
    display: flex;
    justify-content: center;
}

#section-3 {
    background-color: var(--color-secundario);
    padding: 0.1rem 0rem 6rem 0rem;
    margin: 10rem 0rem;
}

#section-3 h2 {
    background-color: white;
    color: var(--color-secundario);
}

#section-3 p {
    color: white;
    padding: 0rem 6rem;
}

#docente-visible,
.docente-desplegado {
    display: flex;
    align-items: center;
}

#docente-visible {
    margin: 6rem 6rem 6rem 0rem;
}

.docente-desplegado {
    margin-bottom: 6rem;
}

.linea {
    width: 30rem;
    padding: 0rem 12rem;
}

.docente-3 .linea {
    padding: 10rem 0rem 0rem 6rem;
}

/* Botones ver más y ver menos */

#vermas,
#vermenos {
    margin-left: 6rem;
    color: white;
}

#vermas:hover,
#vermenos:hover {
    color: var(--color-acento);
}

.icono-flecha {
    width: 1.5rem;
    padding: 0rem 0rem 0.4rem 0.4rem;
}

/* Sección 4 */

.cursada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img-c c1"
        "img-c c2";
    column-gap: 6rem;
    margin: 10rem 0rem;
}

.cursada-texto-1 {
    grid-area: c1;
}

.cursada-texto-2 {
    grid-area: c2;
}

.cursada-img {
    grid-area: img-c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursada-img img {
    width: 90%;
}

/* Sección 5*/

.h2-5 {
    padding: 4rem;
    background-color: var(--color-recuadros);
    color: black;
}

.h2-5:hover {
    background: linear-gradient(180deg, rgba(252, 240, 240, 1) 70%, rgba(242, 179, 179, 1) 100%);
}


/*Formulario*/

#formulario {
    /*Recuadro del form*/
    background-color: black;
    border: 0.5rem solid var(--color-acento);
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
}

.form-sin-imagen {
    width: 70%;
}

.img-form {
    width: 45%;
}

.img-form img {
    width: 100%;
}

#formulario h2 {
    text-align: left;
    background: none;
}

.form-centrado {
    /*Distribución contenido form*/
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
}

.form .cta {
    margin: 1rem;
    background: var(--color-acento);
    color: white;
}

.form .cta:hover {
    background: white;
    color: var(--color-acento);
}

input {
    /*Todos los input*/
    text-align: left;
    appearance: none;
    padding: 0.5rem 1rem;
    margin: 0rem 3rem;
}

.input2 {
    /*Button radio y checkbox*/
    margin-top: 2rem;
}

label {
    margin-left: 1rem;
}

input[type=text],
input[type=email] {
    background-color: transparent;
    color: white;
    border: solid var(--color-acento);
}

input[type=radio] {
    border-radius: 50%;
    padding: 1rem;
    border: 0.3rem solid var(--color-acento);
}

input[type=checkbox] {
    padding: 1rem;
    border: 0.3rem solid var(--color-acento);
}

input[type=radio]:checked {
    /*Radio button seleccionado*/
    background-color: var(--color-recuadros);
}

input[type=checkbox]:checked {
    /*Checkbox seleccionado*/
    background-image: url("../img/checkbox.png");
    background-size: contain;
    background-repeat: no-repeat;
}


/* Pie de página */
footer {
    padding: 6rem;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#redes-pie,
#logos-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

#logos-pie img {
    width: 16rem;
    margin: 0rem 2rem;
}

#redes-pie .iconos {
    margin: 0rem 1rem;
}

#direccion-pie p {
    text-align: left;
    color: white;
    padding-left: 6rem;
}

/* Popup - Feedback */
.popup-visible {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.contenedor-popup {
    margin: auto;
    width: 80rem;
    height: 44rem;
    padding: 4rem 6rem 6rem 6rem;
    background-color: white;
    border: 0.5rem solid var(--color-acento);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "cerrar cerrar"
        "h2-popup h2-popup"
        "p1 img-popup"
        "p2 img-popup"
        "logop logop";
    column-gap: 2rem;
}

#cerrar {
    grid-area: cerrar;
    margin-left: auto;
    height: 2rem;
}

#cerrar img {
    width: 2rem;
}

#popup h2 {
    grid-area: h2-popup;
    text-align: center;
    color: black;
    background-color: transparent;
    margin: 0rem;
    padding: 0rem;
}

.p1-popup {
    grid-area: p1;
    margin: 4rem 0rem 0rem 0rem;
}

.p2-popup {
    grid-area: p2;
    margin-bottom: 4rem;
}

.ilustracion-popup {
    grid-area: img-popup;
    width: 100%;
    margin: auto;
}

.logo-popup {
    grid-area: logop;
    width: 14rem;
    margin: auto;
}


/* Responsive */
@media screen and (max-width: 500px) {
    html {
        font-size: 5px;
    }

    h1,
    .p-portada,
    .p1-popup,
    .p2-popup {
        text-align: center;
    }

    p {
        font-size: 3.6rem;
    }

    h2 {
        padding: 3rem;
    }

    header .redes,
    .img-form {
        display: none;
    }

    header {
        justify-content: center;
        padding: 2rem;
    }

    .logo {
        width: 25rem;
    }

    #portada,
    .docente-desplegado,
    .recuadros,
    .form-centrado,
    footer {
        display: block;
    }

    #portada {
        padding: 6rem 2rem 28rem 2rem;
    }

    .img-portada {
        width: 80%;
        margin: auto;
    }

    .p-portada {
        padding: 4rem;
        margin: auto;
    }

    .cta-portada,
    .docente-2 {
        display: flex;
        justify-content: center;
    }

    .cta {
        font-size: 3.6rem;
        padding: 3rem 14rem;
    }

    .form .cta {
        margin: 6rem 1rem 4rem 1rem;
        background: var(--color-acento);
        color: white;
        padding: 0rem 8rem;
        height: 8rem;
    }

    #section-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "descr-1"
            "img-d"
            "descr-2";
    }

    .recuadros,
    .cursada {
        margin: 6rem 6rem 12rem 6rem;
    }

    .recuadros p {
        aspect-ratio: 9/14;
    }

    .recuadros img {
        display: block;
        height: 6rem;
        margin: 0rem auto;
        padding: 6rem 0rem;
    }

    #section-3 {
        margin: 16rem 0rem;
        padding: 1rem 0rem 8rem 0rem;
    }

    #docente-visible {
        margin: 8rem 0rem 0rem 0rem;
        flex-flow: column-reverse;
    }

    .docente-1 {
        margin-bottom: 6rem;
    }

    .docente-2 img {
        width: 80%;
    }

    .docente-desplegado {
        margin-bottom: 8rem;
    }

    .docente-1 .linea {
        margin: 0rem 16rem;
    }

    .docente-3 .linea {
        padding: 6rem 0rem;
    }

    .linea {
        width: 40rem;
        margin: 2rem 0rem 0rem 10rem;
    }

    .cursada {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "c1"
            "img-c"
            "c2";
    }

    .cursada-texto-2 {
        padding-top: 6rem;
    }

    #formulario {
        padding: 10rem 6rem;
    }

    #formulario h2 {
        padding: 0rem 0rem 2rem 0rem;
    }

    .form-sin-imagen,
    .descripcion,
    #section-1 img {
        width: 100%;
    }

    input {
        margin: 2rem 1rem;
        padding: 0rem 10rem 0rem 2rem;
    }

    .input2 {
        margin: 0rem 0rem 3rem 0rem;
        display: flex;
        justify-content: center;
    }

    input[type=checkbox],
    input[type=radio] {
        margin: 2rem;
        padding: 1.5rem;
    }

    .but-margin {
        margin-right: 3rem;
    }

    .contenedor-popup {
        width: 50rem;
        height: 100rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "cerrar"
            "h2-popup"
            "p1"
            "p2"
            "img-popup"
            "logop";
    }

    #cerrar {
        height: 4rem;
    }

    #cerrar img {
        width: 3rem;
    }

    .p1-popup,
    .p2-popup {
        text-align: center;
    }

    .ilustracion-popup {
        width: 60%;
    }

    .logo-popup {
        padding-top: 6rem;
    }
}